<div data-hook="admin_blog_category_form_fields">

  <div data-hook="admin_blog_category_form_left">
    <div data-hook="admin_blog_category_form_name">
      <%= f.field_container :name do %>
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
          <%= f.text_field :name, :class => 'fullwidth title' %>
          <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div data-hook="admin_blog_category_form_slug">
      <%= f.field_container :slug do %>
          <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
          <%= f.text_field :slug, :class => 'fullwidth title' %>
          <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div data-hook="admin_blog_category_form_hidden">
      <%= f.field_container :hidden do %>
          <%= f.label :hidden, raw(Spree.t(:hidden) + content_tag(:span, ' *', :class => 'required')) %>
          <%= f.check_box :hidden %>
          <%= f.error_message_on :hidden %>
      <% end %>
    </div>

    <div data-hook="admin_blog_category_form_meta_keywords">
      <%= f.field_container :meta_keywords do %>
          <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
          <%= f.text_area :meta_keywords, {:rows => '3', :class => 'fullwidth'} %>
          <%= f.error_message_on :meta_keywords %>
      <% end %>
    </div>

    <div data-hook="admin_blog_category_form_meta_description">
      <%= f.field_container :meta_description do %>
          <%= f.label :meta_keywords, Spree.t(:meta_description) %>
          <%= f.text_area :meta_description, {:rows => '3', :class => 'fullwidth'} %>
          <%= f.error_message_on :meta_description %>
      <% end %>
    </div>
  </div>
</div>

<% unless Rails.env.test? %>
    <script>
        $('.select2-container').css({width: '20em'})
    </script>
<% end %>
