<div data-hook="admin_blog_post_form_fields">

  <div data-hook="admin_blog_post_form_left">
    <div data-hook="admin_blog_post_form_title">
      <%= f.field_container :title do %>
          <%= f.label :title, raw(Spree.t(:title) + content_tag(:span, ' *', :class => 'required')) %>
          <%= f.text_field :title, :class => 'fullwidth title' %>
          <%= f.error_message_on :title %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_slug">
      <%= f.field_container :slug do %>
          <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
          <%= f.text_field :slug, :class => 'fullwidth title' %>
          <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_hidden">
      <%= f.field_container :hidden do %>
          <%= f.label :hidden, raw(Spree.t(:hidden) + content_tag(:span, ' *',  :class => "required")) %>
          <%= f.check_box :hidden %>
          <%= f.error_message_on :hidden %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_attachment">
      <%= f.field_container :attachment do %>
          <%= f.label :attachment, raw(Spree.t(:attachment) + content_tag(:span, ' *',  :class => "required")) %>
          <%= f.file_field :attachment %>
          <%= f.error_message_on :attachment %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_category">
      <%= f.field_container :category do %>
          <%= f.label :category_id, Spree.t(:category) %>
          <%= f.select :category_id, Spree::Blog::Category.all.collect {|s| [Spree.t("order_state.#{s.name}"), s.id]}, {:include_blank => true}, {:rows => '20', :class => 'select2 fullwidth'} %>
          <%= f.error_message_on :category_id %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_excerpt">
      <%= f.field_container :excerpt do %>
          <%= f.label :excerpt, Spree.t(:excerpt) %>
          <%= f.text_area :excerpt, {:rows => '20', :class => 'fullwidth'} %>
          <%= f.error_message_on :excerpt %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_body">
      <%= f.field_container :body do %>
          <%= f.label :body, Spree.t(:body) %>
          <%= f.text_area :body, {:rows => '20', :class => 'fullwidth'} %>
          <%= f.error_message_on :body %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_meta_keywords">
      <%= f.field_container :meta_keywords do %>
          <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
          <%= f.text_area :meta_keywords, {:rows => '3', :class => 'fullwidth'} %>
          <%= f.error_message_on :meta_keywords %>
      <% end %>
    </div>

    <div data-hook="admin_blog_post_form_meta_description">
      <%= f.field_container :meta_description do %>
          <%= f.label :meta_keywords, Spree.t(:meta_description) %>
          <%= f.text_area :meta_description, {:rows => '3', :class => 'fullwidth'} %>
          <%= f.error_message_on :meta_description %>
      <% end %>
    </div>
  </div>
</div>

<% unless Rails.env.test? %>
    <script>
        $('.select2-container').css({width: '20em'})
    </script>
<% end %>
