<% content_for :page_title do %>
    <%= Spree.t(:listing_blog_posts) %>
<% end %>

<% content_for :page_actions do %>
    <li id="new_blog_post_link">
      <%= button_link_to Spree.t(:new_blog_post), new_object_url, { :remote => true, :icon => 'plus', :id => 'admin_new_blog_post' } %>
    </li>
<% end if can?(:create, Spree::Blog::Post) %>

<% content_for :table_filter_title do %>
    <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
    <div data-hook="admin_blog_posts_sidebar">

      <%= search_form_for [:admin, @search] do |f| %>

          <%- locals = {:f => f} %>

          <div data-hook="admin_blog_posts_index_search">
            <div class="alpha four columns">
              <div class="field">
                <%= label_tag :category_id_eq, Spree.t(:category) %>
                <%= f.select :category_id_eq, Spree::Blog::Category.all.collect {|s| [Spree.t("order_state.#{s.name}"), s.id]}, {:include_blank => true}, :class => 'select2 fullwidth' %>
              </div>
            </div>
            <div class="four columns">
              <div class="date-range-filter field">
                <%= label_tag nil, Spree.t(:date_range) %>
                <div class="date-range-fields">
                  <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => Spree.t(:start) %>
                  <span class="range-divider">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                  <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => Spree.t(:stop) %>
                </div>
              </div>
            </div>
            <div class="omega eight columns">
              <div class="field">
                <%= f.label :title_cont, Spree.t(:title) %>
                <%= f.text_field :title_cont, :size => 15 %>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <div class="form-buttons actions filter-actions" data-hook="admin_blog_posts_index_search_buttons">
            <%= button Spree.t(:search), 'search' %>
          </div>
      <% end %>
    </div>
<% end %>

<div id="new_blog_post_wrapper" data-hook></div>

<%= paginate @collection %>

<% if @collection.any? %>
    <table class="index" id="listing_blog_posts">
      <colgroup>
        <col style="width: 40%;">
        <col style="width: 20%;">
        <col style="width: 40%;">
      </colgroup>
      <thead>
      <tr data-hook="admin_blog_posts_index_headers">
        <th><%= sort_link @search,:name, Spree.t(:created_at), { :default_order => "desc" }, {:title => 'admin_blog_posts_listing_created_at_title'} %></th>
        <th><%= Spree.t(:title) %></th>
        <th data-hook="admin_blog_posts_index_header_actions" class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |blog_post| %>
          <tr id="<%= spree_dom_id blog_post %>" data-hook="admin_blog_post_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= link_to blog_post.try(:created_at), edit_admin_blog_post_path(blog_post) %></td>
            <td><%= link_to blog_post.try(:title), edit_admin_blog_post_path(blog_post) %></td>
            <td class="actions" data-hook="admin_blog_posts_index_row_actions">
              <%= link_to_edit blog_post, :no_text => true, :class => 'edit' if can?(:edit, blog_post) %>
              &nbsp;
              <%= link_to_delete blog_post, :no_text => true if can?(:delete, blog_post) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alpha sixteen columns no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree.blog/post')) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_blog_post_path %>!
    </div>
<% end %>

<%= paginate @collection %>
